In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import pickle

In [3]:
# Load the trained model, scaler and one-hot pickle

model = load_model("model.h5")

# Load encoder and scaler
with open("label_encoder_gender.pkl", "rb") as file:
    label_encoder_gender = pickle.load(file)

with open("onehot_encoder_geo.pkl", "rb") as file:
    onehot_encoder_geo = pickle.load(file)

with open("scaler.pkl", "rb") as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
# Example input data
input_data = {
    "CreditScore": 600,
    "Geography": "France",
    "Gender": "Male",
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 50000
}

In [19]:
# pd.DataFrame(input_data, index=range(1))
# one hot encode Geography
geo_encoded = onehot_encoder_geo.transform(np.array([input_data["Geography"]]).reshape(-1, 1)).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))

c:\Users\Mohit\Desktop\Mohit\Projects\Churnprediction-ANN\churn_env\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [20]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [22]:
input_data = pd.DataFrame([input_data])

In [23]:
# Combined one-hot encoded columns with input data
input_data = pd.concat([input_data.reset_index(drop=True), geo_encoded_df], axis=1)
input_data

   CreditScore Geography  ... Geography_Germany  Geography_Spain
0          600    France  ...               0.0              0.0

[1 rows x 13 columns]

In [24]:
# Encode Gender
input_data["Gender"] = label_encoder_gender.transform(input_data["Gender"])

In [25]:
input_data

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          600    France  ...                0.0              0.0

[1 rows x 13 columns]

In [27]:
input_data.drop("Geography", axis=1, inplace=True)

In [28]:
input_scaled = scaler.transform(input_data)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [30]:
# Predict churn
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step

array([[0.0332025]], dtype=float32)

In [34]:
prediction[0][0]

np.float32(0.033202495)

In [36]:
onehot_encoder_geo.categories_[0]

array(['France', 'Germany', 'Spain'], dtype=object)

In [39]:
label_encoder_gender.classes_

array(['Female', 'Male'], dtype=object)